---
import Base from "../layouts/Base.astro";
import Dust from "../components/Dust.astro";
import Header from "../components/Header.astro";
import PointCloudHero from "../components/PointCloudHero.astro";
import Projects from "../components/Projects.astro";
import Marquee from "../components/Marquee.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
import { CV_DATA } from "../data/cv";
---

<Base title={`QANTRR | ${CV_DATA.name}`}>
  <!-- Fixed particle-dust backdrop; content scrolls over it. -->
  <Dust />

  <Header />
  <main>
    <PointCloudHero />
    <Projects />
    <Marquee />
    <Experience />
    <Contact />
  </main>
</Base>
